<a href="https://colab.research.google.com/github/R-jisu/school_mission/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 리스트 L이 1~6의 정수를 갖을 때 L에서 2개를 순서대로 뽑는 모든 경우의 수를 구하고, 모든 순서 쌍(tuple)으로 구성된 리스트를 프린트하시오. 단 itertools 모듈의 permutations() 함수를 사용할 수 없습니다.

In [11]:
L=[1,2,3,4,5,6]
print([(x,y) for x in L for y in L if x!=y])

[(1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5)]

2. 리스트 L이 1~6의 정수를 갖을 때 L에서 2개를 순서없이 뽑는 모든 경우의 수를 구하고, 모든 순서 쌍(tuple)으로 구성된 리스트를 프린트하시오. 단 itertools 모듈의 combinations() 함수를 사용할 수 없습니다.

In [12]:
L=[1,2,3,4,5,6]
print([(x,y) for x in L for y in range(x,7) if x!=y])

[(1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 3), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6), (4, 5), (4, 6), (5, 6)]

3. ‘LionKing.txt’ 파일에서 등장인물이 대사를 하는 횟수를 많은 순서부터 프린트하시오. (힌트: regular expression, re 모듈, dictionary, sorted)

In [130]:
import re
import operator
with open('LionKing.txt','rt',encoding='UTF8') as f:
  ch = [re.findall('[A-Z][a-z]+?:',line) for line in f]
  ch = [s[0] for s in ch if s]

ch = set(ch)
ch_list = list(ch)
CharDic={}
for i in ch_list:
  CharDic[i]=0
  
with open('LionKing.txt','rt',encoding='UTF8') as f:
  for line in f:
    for key in CharDic.keys():
      if line.find(key)!=-1:
        CharDic[key]+=1
ANS = sorted(CharDic.items(), key=operator.itemgetter(1),reverse=True)
ANS

[('Simba:', 259),
 ('Timon:', 114),
 ('Scar:', 101),
 ('Pumbaa:', 96),
 ('Nala:', 95),
 ('Mufasa:', 74),
 ('Zazu:', 72),
 ('Banzai:', 58),
 ('Shenzi:', 42),
 ('Ed:', 33),
 ('Rafiki:', 29),
 ('Sarabi:', 15),
 ('Hyenas:', 12),
 ('Chorus:', 8),
 ('Dworsky:', 3),
 ('Twillie:', 2),
 ('Mole:', 2),
 ('Lionesses:', 1),
 ('Lioness:', 1),
 ('Correction:', 1),
 ('All:', 1),
 ('Sarafina:', 1)]