<a href="https://colab.research.google.com/github/R-jisu/school_mission/blob/main/week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 파이썬 연습

$s = \sum_{k=1}^{100}

In [16]:
result =0
for i in range(1,101):
  result+=i
print(result)

5050

1~1000 사이의 3의 배수의 모든 합
$s = \sum_{k=1}^{333} 3k $

> 들여쓴 블록

In [30]:
k=range(0,1001,3)
s=sum(k)
print("1~1000까지 3의 배수의 합은: ", s)

1~1000까지 3의 배수의 합은:  166833

In [104]:
from sympy import *
import random

p1 20보다 작은 소수로 이루어진 리스트 L을 구하고 프린트하시오.

In [38]:
L = []
for i in range(0,21):
  if isprime(i)==1:
    L.append(i)
print(L)

[2, 3, 5, 7, 11, 13, 17, 19]

p2 리스트 L에 1씩 더하여 L1을 구하고 프린트하시오.

In [40]:
L1 = [x+1 for x in L]
print(L1)

[3, 4, 6, 8, 12, 14, 18, 20]

p3 리스트 L과 L1의 곱을 구하여 L2를 만들고 프린트 하시오.

In [50]:
L2 = [L[i]*L1[i] for i in range(len(L))]
print(L2)

[6, 12, 30, 56, 132, 182, 306, 380]

Colab에서 수식을 표현하여 1 ~ n까지의 자연수의 제곱의 합을 구하도록 나타내고 실제 코드로도 구현하시오.
$s = \sum_{k=1}^{n} k^2 $

In [58]:
N=int(input())
arr = [x**2 for x in range(1,N+1)]
result=sum(arr)
print(result)

100
338350

p4. 01 ~ 30까지의 문자열 리스트 days를 만들고 프린트 하시오.

In [72]:
days = [f"{d:02d}" for d in range(1,31)]
print(days)

['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30']

P5. days의 모든 문자열을 합하여 하나의 문자열 d를 만들고 프린트 하시오

In [76]:
d = "-".join(days)
print(d)

01-02-03-04-05-06-07-08-09-10-11-12-13-14-15-16-17-18-19-20-21-22-23-24-25-26-27-28-29-30

P6. 문자열 d로부터 다시 원래 리스트로 변환하여 dd에 저장하고 프린트하시오.

In [80]:
dd=d.split('-')
print(dd)

['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30']

P7. 사용자로부터 양의 정수 N을 받아들여 높이가 N인 파스칼의 삼각형 만들기

In [100]:
N=int(input("양의 정수 N을 입력하세요 : "))
for i in range(N+1):
  Li = []

L0 = [1]
L1 = [1, 1]
for i in range(2,N+1):
  for j in range():
    Li = L(i-1)[j]+L(i-1)[j+1] 
    Li += L0

for i in range(N+1):
  print(Li)

양의 정수 N을 입력하세요 : 3

TypeError: ignored

P8. 정수 N을 입력 받아 한글 '가' ~ '하' 글자 가운데 반복을 허용하지 않고 랜덤으로 N개를 뽑아 프
린트하시오.

In [145]:
N=int(input("몇 글자: "))
list = ['가','나','다','라','마','바','사','아','자','차','카','타','파','하']
for i in range(N):
  A=random.choice(list)
  print(A,end='')
  list.remove(A)

몇 글자: 3
라바카

P9. 정수 N을 입력 받아 구구단을 프린트 하시오

In [114]:
N=int(input("몇 글자: "))
for i in range(1,10):
  print("{0} x {1} = {2:>2d}".format(N,i,N*i))

몇 글자: 9
9 x 1 =  9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

P10. 1~20의 자연수를 Key 값으로 갖고 그 약수 리스트를 Value 값으로 갖는 Dict 변수 F를 생성하
고 프린트 하시오.

In [135]:
Dic = {}
value = []
num = 1
for i in range(1,21):
  while i >= num :
    if i % num == 0:
      value.append(num)
    num+=1

  Dic[i]=value
  value= []
  num=1

Dic

{1: [1],
 2: [1, 2],
 3: [1, 3],
 4: [1, 2, 4],
 5: [1, 5],
 6: [1, 2, 3, 6],
 7: [1, 7],
 8: [1, 2, 4, 8],
 9: [1, 3, 9],
 10: [1, 2, 5, 10],
 11: [1, 11],
 12: [1, 2, 3, 4, 6, 12],
 13: [1, 13],
 14: [1, 2, 7, 14],
 15: [1, 3, 5, 15],
 16: [1, 2, 4, 8, 16],
 17: [1, 17],
 18: [1, 2, 3, 6, 9, 18],
 19: [1, 19],
 20: [1, 2, 4, 5, 10, 20]}